.bg-nav {
  background-color: #91b7c2;
}
.bg-c1 {
  background-color: #b75558;
}
.bg-c2 {
  background-color: #395375;
}

.text-link {
  color: rgba(255, 255, 255, 0.63);
}

nav {
  animation-duration: 3s;
  animation-delay: 3s;
}
nav:hover {
  transform: scale(1.03);
  animation-delay: 3s;
  animation-duration: 3s;
}
.c:hover {
  transform: scale(1.03);
  animation-delay: 3s;
  animation-duration: 3s;
}

a:hover {
  color: white;
}

nav li:hover {
  transform: translateY(-5px) scale(1.1);
}
.navbar-brand:hover {
  transform: translateY(-5px);
}
li,
.navbar-brand,
nav,
.c {
  transition: 0.2s;
}
